label{
    font-size: 16px;
    padding-left: 30px;
}
input{
    width: 173px;
    height: 30px;
    font-size: 15px;
    float: right;
    margin-right: 30px;
}
select{
    width: 173px;
    height: 30px;
    float: right;
    margin-right: 30px;
}
textarea{
    width: 173px;
    height: 80px;
    float: right;
    margin-right: 30px;
    font-size: 14px;
}

.bt1{
    float: left;
    margin-left: 203px;
}
.bt2{
    float: left;
    margin-left: 10px;
}
/* 验证 */
.ng-invalid:not(form)  {
    border: 2px solid red;
}