<app-rma-container [headTitle]="title" isDate="true" isSite="true" isCas="true">
  <div name="search" class="pro_search">
      <ul class="search_list">
        <li>
          <span>时间: </span>
          <p-cascadeSelect
            [(ngModel)]="selectedCity1"
            [options]="countries"
            optionLabel="value"
            optionGroupLabel="label"
            [optionGroupChildren]="['children', 'cChildren']"
            [style]="{ minWidth: '2.443629rem', color: '#000' }"
            placeholder="时间维度"
          ></p-cascadeSelect>
        </li>
        <li>
          <span>产品: </span>
          <p-cascadeSelect
            [(ngModel)]="selectedCity1"
            [options]="countries"
            optionLabel="value"
            optionGroupLabel="label"
            [optionGroupChildren]="['children', 'cChildren']"
            [style]="{ minWidth: '2.443629rem', color: '#000' }"
            placeholder="产品维度"
          ></p-cascadeSelect>
        </li>
        <li>
          <p-button styleClass="p-button-sm" label="产品状态" style="margin-right: 60px"></p-button>
          <p-button styleClass="p-button-sm" label="返品状态"></p-button>
        </li>
      </ul>
      <p-button label="查询" styleClass="p-button-sm"></p-button>
  </div>
  <div name="content">
    <div class="pro_item" style="display: flex;">
      <div
          style="height: 100%; width: 33.3%"
          echarts
          [options]="option1"
          [theme]="echartTheme"
        ></div>
        <div
          style="height: 100%; width: 66.6%"
          echarts
          [options]="option1"
          [theme]="echartTheme"
        ></div>
    </div>
   <div class="pro_item">
     <div
          style="height: 100%; width: 100%"
          echarts
          [options]="option4"
          [theme]="echartTheme"
        ></div>
   </div>
   <div class="pro_item">
     <div
          style="height: 100%; width: 100%"
          echarts
          [options]="option4"
          [theme]="echartTheme"
        ></div>
   </div>
   <div class="pro_item">
    <div
         style="height: 100%; width: 100%"
         echarts
         [options]="option4"
         [theme]="echartTheme"
       ></div>
  </div>

   <div class="pro_item">
    <p-table [columns]="cols" [value]="products" [resizableColumns]="true" [scrollable]="true"
    scrollHeight="230px">
    <ng-template pTemplate="caption">RMA比例TOP类型表</ng-template>
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 35%" />
        <col style="width: 15%" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
   </div>
  </div>
  </app-rma-container>