<app-copq-container headTitle="DBG Sorting费用数据管理">
  <div name="search">search</div>
  <ng-container name="data">
    <div
      [ngStyle]="{ display: 'flex', 'justify-content': 'center', width: '100%', height: '30%' }"
    >
      <div
        echarts
        class="chart_wrapper"
        *ngIf="chartOption.series"
        [options]="chartOption"
        [theme]="'darkPro'"
      ></div>
      <div
        echarts
        class="chart_wrapper"
        *ngIf="chartOption.series"
        [options]="chartOption"
        [theme]="'darkPro'"
      ></div>
      <div
        echarts
        class="chart_wrapper"
        *ngIf="chartOption.series"
        [options]="chartOption"
        [theme]="'darkPro'"
      ></div>
    </div>

    <app-chart-container chartTitle="产品类型">
      <div
        name="chart"
        echarts
        class="chart_wrapper1"
        *ngIf="chartOption1.series"
        [options]="chartOption1"
        [theme]="'darkPro'"
      ></div>
    </app-chart-container>
  </ng-container>
</app-copq-container>
