
    <div class="preloader">
      <div class="content">
        <div class='ct-border'>
          <div class="ct-title"><h3>信息安全告知书</h3></div>
          <p>1. Portal密码需定期更换，且不可告知他人。</p>
          <p>2. 登录时，请确保周围没有无关人员查看内容。</p>
          <p>3. 开启或者Portal时，在离开计算机/云桌面前，请关闭展示界面，并确保此设备/云桌面不会被他人使用。</p>
          <p>4. 不可将内信息发送给无关人员。</p>
          <p>5. 不可将内信息通过外部途径存储或传递（微信、QQ、网盘、拍照等）。</p>
          <p>6. 账号所有人需遵守《集团保密与信息安全制度》，因违反集团保密制度导致的信息泄露事件，由此账号所有人负责。</p>
          <p>7. 账号所有人对其可查询的信息安全保密负责</p>
        </div>
        <div class="ct-border">
          <div class="ct-title"><h3>温馨提示</h3></div>
          <p>·最佳浏览效果：Chrome浏览器， 3840×2160 / 1920×1080 / 1366×768 分辨率</p>
          <p>·若您在此页面停留时间超过30s，请您尝试以下操作：</p>
          <p> &nbsp;&nbsp;① 按Crtl＋Shift＋Delete，清除近一周的Cookie及缓存图片/文件</p>
          <p> &nbsp;&nbsp;② 重新启动浏览器</p>
          <!-- <p>其他系统问题请联系：周庆祥 106361</p> -->
        </div>
      </div>
      <div class="cs-loader">
        <div class="cs-loader-inner">
          <label> ●</label>
          <label> ●</label>
          <label> ●</label>
          <label> ●</label>
          <label> ●</label>
          <label> ●</label>
        </div>
      </div>
    </div>
