.anu_label{
    font-size: 18px;
    padding-left: 30px;
}
.anu_input{
    width: 173px;
    height: 30px;
    font-size: 15px;
    float: right;
    margin-right: 30px;
}

.anu_bt1{
    float: left;
    margin-left: 203px;
}
.anu_bt2{
    float: left;
    margin-left: 10px;
}
