<p-dialog header="新增用户" [(visible)]="state" [modal]="true" [width]="400" [height]="220">
    <form name="form" (ngSubmit)="save()" #f="ngForm">
        <div class="ui-g">
            <div class="ui-g-12" style="margin-top:10px;">
                <label class="anu_label">用户账号:</label>
                <input type="text" class="form-control anu_input" [(ngModel)]="userAccount" name="userAccount" autocomplete="off" required>
            </div>
            <div class="ui-g-12" style="margin-top:40px;">
                <p-button class="anu_bt1" type="submit" [disabled]="!f.form.valid" label="保存"></p-button>
                <p-button class="anu_bt2" (onClick)="cancel();f.reset()" label="取消"></p-button>
            </div>
        </div>
    </form>
</p-dialog>